{:meta/version 1
 
 ;; Global configuration
 :feature/enable-block-timestamps? true
 :feature/enable-search-remove-accents? true
 :feature/enable-journals? true
 :feature/enable-whiteboards? true
 
 ;; Editor settings  
 :editor/command-trigger "/"
 :editor/logical-outdenting? true
 :editor/preferred-pasting-file? false
 
 ;; Graph settings
 :graph/settings {:journal? true
                  :builtin-pages? true}
 
 ;; Default plugins
 :plugins [{:id "logseq-plugin-agenda"
           :enabled true}
          {:id "logseq-plugin-kanban" 
           :enabled true}
          {:id "logseq-plugin-flashcards"
           :enabled true}]
 
 ;; Custom CSS
 :ui/theme "dark"
 
 ;; Export settings
 :export/bullet-indentation :spaces
 
 ;; Publishing settings  
 :publishing/all-pages-public? false
 
 ;; Mobile settings
 :mobile {:toolbar? true}
 
 ;; Shortcuts
 :shortcuts {:editor/new-block "enter"
            :editor/new-line "shift+enter"
            :editor/indent "tab"
            :editor/outdent "shift+tab"}
 
 ;; Page templates
 :default-templates {:journals "daily-note"
                    :pages "basic-page"}}